[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "*"
tensorflow = { version = "*", platform_system = "!= 'Darwin'" }
atomicwrites = "*"

[dev-packages]
debugpy = "*"
pytest = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
